@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8a63d2;
    font-family: 'Comic Sans MS', cursive;
}

button { border: none; }

ul { list-style: none; }

a { text-decoration: none; }
