@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    height: 100vh;
}
