@import "./base/variables.css";

@import "./layout/layout.css";

@import "./modules/win-screen.css";
@import "./modules/game-controls.css";
@import "./modules/play-screen.css";
@import "./modules/question-card.css";
@import "./modules/question-track.css";
@import "./modules/score-card.css";

@import "./state/state.css";

