@import './base/variables.css';

.initial-screen {
    background-color: #8a63d2;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    gap: 20px;
}

.main {
    justify-content: center;
    text-align: center;
    display: flex;
}

.main-title {
    text-decoration: underline rgba(89, 21, 199, 0.705);
    font-size: 3rem;
}

.container-logo {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    display: flex;
}

.btn-container {
    width: auto;
}

.btn-begin {
    font-family: "Archivo Black", sans-serif;
    text-shadow: 2px 2px 2px black;
    background-color: #00000086;
    transition: transform 0.2s;
    border-radius: 12px;
    padding: 20px 100px;
    color: #630fff;
    cursor: pointer;
    font-size: 2rem;
    border: none;
}

.btn-begin:hover {
    transform: scale(1.05);
}
