@import "./modules/win-screen.css";
@import "./base/variables.css";
@import "./state/state.css";

.play-screen {
  background-color: #8a63d2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Comic Sans MS", cursive;
}

.play-screen__title {
  text-decoration: underline rgba(89, 21, 199, 0.705);
  justify-content: center;
  font-size: 3rem;
  display: flex;
}

.play-screen__btn-play {
  font-family: "Archivo Black", sans-serif;
  background-color: #00000086;
  text-shadow: 2px 2px 2px black;
  box-shadow: 0px 0px 20px white;
  transition: all 0.3s ease-out;
  padding: 20px 100px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 2rem;
  color: #630fff;
  height: 100px;
}

.play-screen__btn-play:hover {
  background-color: green;
  padding: 25px 140px;
  font-size: 36px;
  color: white;
}

.game-header{
  background-color: #E0AAFF;
  position: fixed;
  top: 0;
  right: 0;
  width:100vw;
  border-radius: 5px;
  display: flex;
  border: 2px solid #5915C7;
  border-radius: 8px;

}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.nav-menu__list{
   display: flex;
   gap: 10px;
   padding: 10px;
   align-items: center;
   background-color: ;
}

.nav-menu__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu__title {
    margin: 0;
    font-size:2ch;
}

.nav-menu__icon {
    width: 60px;
    height: auto;
}

.container-game{
    width: 85vw;
    min-height: 80%;
    margin: 0 auto;
    background-color: #E0AAFF;
    border: 2px solid #5915C7;
    border-radius: 8px;
    padding: 10px;
    position: relative;
}

.progress-bar{
   width: 85vw;
   margin: 60px auto 10px auto;
   padding: 15px;
   align-items: center;
   accent-color: rgb(255, 0, 132);
   background-color: #E0AAFF;
   border: 2px solid #5915C7;
   border-radius: 8px;

}

.question-card__text{
    padding: 10px;
}
.container-answers{
    width: 15vw;
    height: 50px;
    right: 20px;
    padding: 5px;
    top: 200px;

}

.question-card__input{
    appearance: none;
    top: 10px;
    right: 10px;
}
.question-card__label {
    display: block;       
    width: 85%;          
    padding: 15px;     
    background-color: #7763da; 
    color: white;    
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.question-card__input:checked + .question-card__label {
    background-color: #dbeafe; 
    border-color: #3b82f6;
    color: #1e40af;   
    font-weight: bold;
}

.score-card{
    top: 60px;
    right: 20px;
    border-radius: 5%;
    padding: 10px;
    width: 230px;
    height: 125px;
    text-align: center;
    justify-content: center;
    border: 2px solid #5915C7;
    border-radius: 12px;
    font-size: 1rem;
    background-color: #E0AAFF;
}
.question-track__item {
    list-style: none;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 5px;
    background-color: #E0AAFF;
    border: 2px solid #5915C7;
}

.question-track__item-current{
    border: 2px solid rgb(48, 153, 106);
    background-color: #3a916d;
}

.game-controls{
    display: flex;
    justify-content: flex-end;
    gap: 5px; 
    margin-top: 125px;
    padding-right: 20px;
}
.game-controls__btn{
    gap: 10px;   
    width: 15%;    
    padding: 10px;        
    background-color: #7763da; 
    color: white;    
    border-radius: 5px;
    cursor: pointer;
}

.game-controls__btn--prev{
    background-color: #ffffff;
    color: #333;
}

.win-screen__title {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
}

.result-card {
  background: white;
  width: 350px;
  border-radius: 40px;
  padding: 60px 20px 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.result-card__trophy {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
}

.result-card__return-btn {
  transition: text-shadow 0.3s ease-out;
  box-shadow: 0px 0px 5px black;
  border-radius: 20px 120px;
  background-color: blue;
  padding: 20px 90px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin: 20px;
}

.result-card__return-btn:hover {
  text-shadow: 0px 0px 20px white;
  background-color: darkblue;
  border-radius: 120px 20px;
}
