.result-card {
  background: white;
  width: 350px;
  border-radius: 40px;
  padding: 60px 20px 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.result-card__return-btn {
  transition: text-shadow 0.3s ease-out;
  box-shadow: 0px 0px 5px black;
  border-radius: 20px 120px;
  background-color: blue;
  padding: 20px 90px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin: 20px;
}

.result-card__trophy-icon {
    background-image: no-repeat center;
    height: 80px;
    width: 80px;
}

.result-card__return-btn:hover {
  text-shadow: 0px 0px 20px white;
  background-color: darkblue;
  border-radius: 120px 20px;
}

.stat-grid {
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 30px;
  display: grid;
}

.stat-box {
  border-right: 1px solid #eee;
}

.stat-box__icon {
  padding: 15px 40px 55px;
  border-radius: 5px;
}

.stat-box__icon--purple {
  background-color: blueviolet;
}

.stat-box__icon--green {
  background-color: green;
}

.stat-box__icon--red {
  background-color: red;
}
